.font-small {
    font-size: 0.9rem;    
}
.font-medium {
    font-size: 1rem;    
}
.font-large {
    font-size: 1.1rem;    
}

body {
    margin: 0;    
}
header {
    nav {
        height: auto;
        overflow: hidden;

        .nav-wrapper {
            width: 90%;
            height: auto;
            margin: 0 auto;

            .brand-logo {
                font-size: 24px;
            }

        
        }
        /*
        .nav-wrapper {
            height: auto;
            width: 90%;
            margin: 0 auto;
            padding: 10px 0;

            .site_name {
                padding: 100x 0;
                

                a {
                    font-size: 20px;
                    line-height: normal;
                }
                .disp, .edit {
                    padding: 10px 10px;
                    line-height: normal;
                }
                .edit {
                }
            }

            i {
                height: auto;
                line-height: normal;         
            }
        }
        */
    }
}

h1 {
    margin: 10px 0 20px 0;
}
h2 {
    margin: 30px 0 20px 0;
}

.main {
    .cols1, .cols2 {
        overflow: hidden;
    } 
    .contents {
        h1 {
            font-size: 24px;
            margin: 10px 0 20px 0;
        }
        pre {
            background-color: #eeeeee;
            padding: 5px 10px;
        }
    }

    .cols1 {
        .contents {
            margin: 30px auto;
            width: 90%;
        }

        ul {

            li {

            }
        }
    }

    .cols2 {
        display: flex;
        .menu {
            flex-basis: 200px;
        }
        .contents {
            flex: 1;
        }
    }

    .menu {
        ul {

            li {
                a {
                }
            }
        }
    }

    .contents {
        margin: 30px 30px 0 0;
        overflow: hidden;
        background-color: #ffffff;
    }

}