body {
    margin: 0;    
}

.font-small {
    font-size: 0.9rem;    
}
.font-medium {
    font-size: 1rem;    
}
.font-large {
    font-size: 1.1rem;    
}


h1 {
    margin: 10px 0 20px 0;
}
h2 {
    margin: 30px 0 20px 0;
}

.text-color-primary {
    color: rgb(var(--v-theme-primary));
}
.text-color-secondary {
    color: rgb(var(--v-theme-secondary));
}
.text-color-mono1 {
    color: #000000;
}
.text-color-mono2 {
    color: #444444;
}
.text-color-mono3 {
    color: #888888;
}
.text-color-mono4 {
    color: #cccccc;
}
.text-color-mono5 {
    color: #ffffff;
}