.box1 {
    margin: 20px;
    height: 200px;
    background-color: #ffff00;
    border: 1px solid #555555;
}
.box2 {
    margin: 20px;
    background-color: #0000ff;
    border: 1px solid #555555;
}
.box3 {
    margin: 20px;
    background-color: #00ff00;
    border: 1px solid #555555;
}